#textdomain wesnoth-ala

[scenario]
    id=05_The_Lizards_Islands
    name= _ "The Lizard's Islands"
    map_data="{~add-ons/A_Little_Adventure/maps/05_The_Lizards_Islands.map}"
    next_scenario=06_The_Last_Battle

#ifdef NORMAL
    turns=24
#endif
#ifdef HARD
    turns=20
#endif

    {SCHEDULE_8H}

    {INTRO_AND_SCENARIO_MUSIC wanderer.ogg siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}

    [story]
        [part]
            {SCENARIO_05_STORY_01}
            background=story/landscape-coast.jpg
        [/part]
    [/story]

    [side]
        side=1
        type=Sergeant
        id=Glauco
        name="Glauco"
        unrenamable=yes
        canrecruit=yes
        controller=human
        recruit=Bowman,Spearman,Young Ogre,She Ogre
        x,y=6,21
        {FLAG_VARIANT loyalist}
        gold=100
        team_name=Wesnothians
        user_team_name=_"Wesnothians"
    [/side]

    [side]
        side=2
        type=Saurian Flanker
        id=Giksy
        name="Giksy"
        profile=portraits/Giksy.png
        unrenamable=yes
        controller=ai
        canrecruit=yes
        recruit=Saurian Augur,Saurian Skirmisher,Saurian Oracle,Saurian Soothsayer,Saurian Ambusher
        x,y=36,4
        [ai]
            recruitment_ignore_bad_movement=yes
            grouping=no
            passive_leader=no
            recruit_diversity=0.5
        [/ai]
#ifdef 	HARD
        gold=400
        income=16
#else
        gold=250
        income=10
#endif
        team_name=Saurian
        user_team_name= _ "Saurian"
        {FLAG_VARIANT ragged}
    [/side]
    {STARTING_VILLAGES_AREA 2 36 4 6}
    {STARTING_VILLAGES_AREA 2 28 13 5}
    {STARTING_VILLAGES_AREA 2 40 18 3}

    [side]
        side=3
        type=Merman Triton
        id=Joralda
        name="Joralda"
        unrenamable=yes
        profile=portraits/Joralda.png
        controller=ai
        canrecruit=yes
        recruit=Merman Citizen,Mermaid Initiate,Merman Fighter,Merman Hunter
        x,y=16,27
#ifdef HARD
        gold=25
#else
        gold=50
#endif
        team_name=Wesnothians
        user_team_name= _ "Nereids"
        {FLAG_VARIANT long}
    [/side]
    {STARTING_VILLAGES_AREA 3 16 27 6}

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Squash ... or ... Defeat the Saurian Chief"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Glauco"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death di Geobard"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Glubtrub"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=80
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
        name=start

        {UNSTORE_HEROES 6 21}

        # ***** Saurian starting units *****

        {LOYAL_UNIT 2 (Saurian Augur) 35 3}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 33 9}
        {LOYAL_UNIT 2 (Saurian Augur) 25 13}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 33 14}
        {LOYAL_UNIT 2 (Saurian Augur) 39 16}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 39 20}
#ifdef HARD
        {LOYAL_UNIT 2 (Saurian Augur) 29 12}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 42 5}
        {LOYAL_UNIT 2 (Saurian Augur) 38 8}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 27 15}
        {LOYAL_UNIT 2 (Saurian Skirmisher) 40 18}
#endif

        # ***** Nereids starting units *****

#ifdef NORMAL
        {LOYAL_UNIT 3 (Mermaid Enchantress) 19 27}
        {LOYAL_UNIT 3 (Merman Warrior) 15 29}
        {LOYAL_UNIT 3 (Merman Netcaster) 14 25}
        {LOYAL_UNIT 3 (Merman Spearman) 18 24}
#else
        {LOYAL_UNIT 3 (Mermaid Initiate) 19 27}
        {LOYAL_UNIT 3 (Merman Fighter) 15 29}
        {LOYAL_UNIT 3 (Merman Hunter) 14 25}
        {LOYAL_UNIT 3 (Merman Fighter) 18 24}
#endif

        {05_INTRODUCTION_DIALOGUE}
    [/event]

    [event]
        name=create_sea_monsters
        first_time_only=no
        {REPEAT	2 (
            {VARIABLE_OP x_monster rand 16..30 }
            {VARIABLE_OP y_monster rand 1..6 }
            {LOYAL_UNIT 2 (Water Serpent) $x_monster $y_monster}
            [sound]
                name=water-blast.wav
            [/sound]
            {SCROLL_AND_DELAY $x_monster $y_monster 1500}
        )}

#ifdef HARD
        {VARIABLE_OP x_monster rand 16..30 }
        {VARIABLE_OP y_monster rand 1..6 }
        {LOYAL_UNIT 2 (Sea Serpent) $x_monster $y_monster}
        [sound]
            name=water-blast.wav
        [/sound]
        {SCROLL_AND_DELAY $x_monster $y_monster 1500}
#endif
    [/event]

    [event]
        name=turn 2
        [message]
            speaker=Giksy
            message= _ "Let's ssshow them the little sssurprissse that we had prepared for the fisssh if they had decided to recover the issland!"
        [/message]
        [fire_event]
            name=create_sea_monsters
        [/fire_event]
        {05_SEA_SNAKES}
    [/event]

    [event]
        name=turn 8
        [message]
            speaker=Giksy
            message= _ "Thingsss are not going well! Ssshamansss, sssummon other sssnakesss from the sssea!"
        [/message]
        [fire_event]
            name=create_sea_monsters
        [/fire_event]
        [message]
            speaker=Joralda
            message= _ "Other monster coming from the north, they are like those before!"
        [/message]
    [/event]

    [event]
        name=turn 16
        [message]
            speaker=Giksy
            message= _ "We need of ohtersss sssea companionsss, sssummon all them!"
        [/message]
        [fire_event]
            name=create_sea_monsters
        [/fire_event]
        [message]
            speaker=Geobard
            message= _ "I hope these are the last ones! They make me feel seasick with all their contortions!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Giksy
        [/filter]
        [message]
            speaker=Giksy
            message= _ "Aaah ... I'll ... never ... sssee ... my ... treasssure ... again ..."
        [/message]
        [kill]
            side=2
        [/kill]

        {05_ENDING}

        {STORE_HEROES}

        [endlevel]
            bonus=yes
            carryover_add=yes
            carryover_percentage=60
            result=victory
        [/endlevel]
    [/event]

    {TRAPPER_DEATH_WITHOUT_DEFEAT}

    {PET_DEATH}

    {MAIN_HEROES_DEATHS}

    {MIMORD_DEATH}

    [event]
        name=last breath
        [filter]
            id=Joralda
        [/filter]
        [message]
            speaker=Glauco
            message= _ "Oh no, without the nereids help it was all in vain! I failed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Glauco
            message= _ "It's useless, and we cannot prevail! We failed!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
