#textdomain wesnoth-ala

#define DELAY TIME
    [delay]
        time={TIME}
    [/delay]
#enddef

#define SCROLL_AND_DELAY X Y DELAY_TIME
    [scroll_to]
        x={X}
        y={Y}
    [/scroll_to]
    [delay]
        time={DELAY_TIME}
    [/delay]
#enddef

#define STORE_HEROES
    [store_unit]
        [filter]
            id=Divaid
            [or]
                id=Croquet
            [/or]
            [or]
                id=Fangy
            [/or]
            [or]
                id=Ranfy
            [/or]
            [or]
                id=Geobard
            [/or]
            [or]
                id=Glubtrub
            [/or]
            [or]
                id=Mimord
            [/or]
        [/filter]
        variable=store_heroes
        kill=yes
    [/store_unit]
#enddef

#define UNSTORE_HEROES X Y
    {FOREACH store_heroes i}
        [unstore_unit]
            variable=store_heroes[$i]
            find_vacant=yes
            x,y={X},{Y}
        [/unstore_unit]
        [heal_unit]
            [filter]
                id=$store_heroes[$i].id
            [/filter]
            moves=full
            amount=full
            restore_attacks=yes
            restore_statuses=yes
        [/heal_unit]
    {NEXT i}
    {CLEAR_VARIABLE store_heroes,i}
#enddef
